{% extends "base.html" %}

{% block body %}
<div class=page>
    <div class="vert">
        <h1 align="center">
            TEAM?
        </h1>
        <form class="form-inline" method="POST" action="/">
            <div class="dd_bs" align="center">
                <select class="form-control input-lg" name="individual">
                    <option value="Arnold">Arnold</option>
                    <option value="Brady">Brady</option>
                    <option value="Dennis">Dennis</option>
                    <option value="Doug">Doug</option>
                </select>
            </div>
            <div class="btn_next" align="center">
                <input type="submit" class="btn btn-primary btn-lg" name="to_choose_team" value="NEXT" >
            </div>
        </form>
    </div>
</div>
{% endblock %}